{% extends "base.html" %}

{% block content %}

<div id="addExpenseModal" class="modal" tabindex="-1">
  <div class="modal-dialog modal-xl modal-fullscreen-lg-down modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Expenses</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-column flex-md-row my-auto mb-2 gap-2 align-items-center">
          <div class="flex-grow-1">
            <button type="button" id="addExpenseRow" class="btn btn-primary">Add Row</button>
            <button type="button" id="removeSelectedExpenseRow" class="btn btn-danger">Remove Selected Row</button>
          </div>
          <div class="d-flex flex-row my-auto gap-2 align-items-center">
            <label for="currencySelect">Currency:</label>
            <select name="currency" id="currencySelect" class="form-select"></select>
            <label for="typeSelect">Type:</label>
            <select name="type" id="typeSelect" class="form-select"></select>
          </div>
        </div>
        <div id="addExpenseTable"></div>
      </div>
      <div class="modal-footer">
        <button id="addExpenseTableSubmit" type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>

<div class="d-flex flex-column p-2">
  <h1 class="title">Expenses</h1>
  <div class="d-flex flex-row py-3 gap-2">
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addExpenseModal">
      Add
    </button>
    <button type="button" class="btn btn-outline-danger">
      Remove
    </button>
    <input type="text" id="searchExpense" class="form-control" placeholder="Search expenses">
  </div>
  <div id="expenseTable"></div>
</div>

{% endblock %}

{% block footer %}
<script>
const CSRFTOKEN = Cookies.get('csrftoken');
var DateTime = luxon.DateTime;

// REPURPOSE FROM http://tabulator.info/examples/5.2#editable
let dateEditor = function (cell, onRendered, success, cancel) {
  let cellValue = DateTime.fromFormat(cell.getValue(), "dd/MM/yyyy").toFormat("yyyy-MM-dd"),

  // TODO: Use another DatePicker library
  input = document.createElement("input");
  input.setAttribute("type", "date");
  input.style.padding = "4px";
  input.style.width = "100%";
  input.style.boxSizing = "border-box";
  input.value = cellValue;

  onRendered(function () {
    input.focus();
    input.style.height = "100%";
  });

  function onChange() {
    if (input.value != cellValue) {
      success(DateTime.fromFormat(input.value, "yyyy-MM-dd").toFormat("dd/MM/yyyy"));
    } else {
      cancel();
    }
  }

  //submit new value on blur or change
  input.addEventListener("blur", onChange);

  //submit new value on enter
  input.addEventListener("keydown", function (e) {
    if (e.keyCode == 13) {
      onChange();
    }

    if (e.keyCode == 27) {
      cancel();
    }
  });

  return input;
};

let expenseTypesMap = {};
let expenseTypes = [];

let addTable = new Tabulator('#addExpenseTable', {
  height: 800,
  layout: 'fitColumns',
  columns: [
    {
      formatter: "rowSelection",
      titleFormatter: "rowSelection",
      headerHozAlign: "center",
      hozAlign: "center",
      headerSort: false,
      width: 5,
      cellClick: function (e, cell) {
        cell.getRow().toggleSelect();
      }
    },
    {
      title: 'Name',
      field: 'name',
      editor: true,
    },
    {
      title: 'Description',
      field: 'description',
      editor: true,
    },
    {
      title: 'Date',
      field: 'transaction_dt',
      sorter: 'date',
      width: 140,
      editor: dateEditor,
    },
    {
      title: 'Currency',
      field: 'amount_currency',
      editor: 'list',
      editorParams: {
        values: [
          "MYR",
          "USD",
          "JPY",
          "SGD",
        ]
      }
    },
    {
      title: 'Amount',
      field: 'amount',
      formatter: 'money',
      editor: true,
    },
    {
      title: 'Type',
      field: 'type',
      editor: 'list',
      editorParams: {
        values: expenseTypes,
      }
    },
  ],
});

let table = new Tabulator('#expenseTable', {
  height: 500,
  layout: 'fitColumns',
  columns: [
    {
      title: 'ID',
      field: 'id',
      width: 5,
    },
    {
      title: 'Name',
      field: 'name',
    },
    {
      title: 'Description',
      field: 'description',
    },
    {
      title: 'Date',
      field: 'transaction_dt',
    },
    {
      title: 'Amount',
      field: 'amount',
      formatter: 'money',
    },
    {
      title: 'Currency',
      field: 'amount_currency',
    },
    {
      title: 'Type',
      field: 'type',
    },
  ],
});

const currencySelect = document.getElementById('currencySelect');
const typeSelect = document.getElementById('typeSelect');

const url = `${document.location.protocol}//${document.location.host}/tracker/api/expense/`;
fetch(url)
  .then(
    response => response.json()
  )
  .then(
    data => {
      table.setData(data.expenses);

      data.expense_config.config.currency.forEach(element => {
        let option = document.createElement('option');
        option.textContent = element;
        option.value = element;
        currencySelect.appendChild(option);
      });

      data.expense_types.forEach(element => {
        let option = document.createElement('option');
        option.textContent = element.name;
        option.value = element.id;
        typeSelect.appendChild(option);
        expenseTypesMap[element.name] = element.id;
        expenseTypes.push(element.name);
      });
    }
  );

const addExpenseRowBtn = document.getElementById('addExpenseRow');
addExpenseRowBtn.addEventListener('click', () => {
  addTable.addRow({
    'transaction_dt': DateTime.now().toFormat("dd/MM/yyyy"),
    'amount': 1,
    'amount_currency': currencySelect.value,
    'type': typeSelect.selectedOptions[0].text,
  });
});

const removeSelectedExpenseRowBtn = document.getElementById('removeSelectedExpenseRow');
removeSelectedExpenseRowBtn.addEventListener('click', () => {
  let selectedRows = addTable.getSelectedRows();
  for (let i = 0; i < selectedRows.length; i++) {
    selectedRows[i].delete();
  };
});

const addExpenseTableSubmitBtn = document.getElementById('addExpenseTableSubmit');
addExpenseTableSubmitBtn.addEventListener('click', () => {
  let newExpenseData = []
  let expenseData = addTable.getData();
  expenseData.forEach(element => {
    element.type = parseInt(expenseTypesMap[element.type]);
    newExpenseData.push(element);
  });

  fetch(url, {
    method: 'post',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': CSRFTOKEN,
    },
    body: JSON.stringify(expenseData)
  })
  .then(
    response => response.json()
  )
  .then(data => {
    table.setData(data.expenses);
  })
});

</script>
{% endblock %}